name: Prettier Formatter

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0

      # pretter Action
      - name: Prettier Action
        # You may pin to the exact commit or the version.
        uses: creyD/prettier_action@6602189cf8bac1ce73ffe601925f6127ab7f21ac
        # uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write **/*.{md,mdx}
          only_changed: True
